@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 600;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    padding: 40px 0;
}

body {
    width: 100%;
    background-color: #fff;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #2a2a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    font-size: 3em;
    color: #fff;
    user-select: none;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #cccccc;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: #E31C25;
}

#navbar li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #E31C25;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

#navbar li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

#hero{
    background-image: url(img/cyberpunk-home.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding-left: 800px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #E31C25;
}

#hero button{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
    color: #E31C25;
    font-weight: 500;
    margin-right: 40px;
    transition: 0.5s;
}

#hero button:hover{
    background: #fff;
    color: #111;
    font-weight: 500;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 33px rgba(0, 0, 0, 0.03);
    border: 1px solid #e7ccd0;
    border-radius: 4px;
    margin: 15px 0;
    background-color: #fff;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 53px rgba(70, 62, 221, 0.1)
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    padding: 35px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #e7ccd0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #060606;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding: 2px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 30px;
    background-image: url("img/buy1get1.jpg");
    min-width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box2{
    background-image: url("img/comingsoon.jpg");
}

#sm-banner h4{
    color: #E31C25;
    font-size: 20px;
    font-weight: 400;
}

#sm-banner h2{
    color: #E31C25;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span{
    color: #E31C25;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner button{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
    color: #E31C25;
    font-weight: 500;
    margin-right: 40px;
    transition: 0.5s;
}

#sm-banner button:hover{
    background: #fff;
    color: #E31C25;
    font-weight: 500;
}

#updates{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner2.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
}

#updates h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#updates p{
    font-size: 14px;
    font-weight: 600;
    color: #111;
}

#updates span{
    color: #E31C25;
}

#updates button{
    width: 130px;
    height: 50px;
    background: #1D9BF0;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin-right: 40px;
    transition: 0.5s;
}

#updates button:hover{
    background: #fff;
    color: #1D9BF0;
    font-weight: 500;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px;
}

footer .logo2{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 15px;
    padding-bottom: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #E31C25;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #E31C25;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* Media Query*/
@media (max-width:799px) {
    
}